@{ ViewData["Title"] = "Home Page"; }
<h1>Welcome to QuotingDojo</h1>
<br>
<br>
<br>
<form action="process" method="POST">
    <label for name>Your name:<input type="text" name="Name"></label>
    <label for quote>Your quote:<input type="text" name="Quote"> </label>
    <br>
    <input type="submit" value="Add Quote!">
</form>
<form action="">
    <button type="submit" formaction="/quotes">Skip to Quotes!</button>
</form>